@import "../../base";

.login-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 75px);
    font-family: $heading-font;
    font-size: 17px;
    line-height: 25px;

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 100vh;
    }

    .login-form-wrapper {
        background-image: linear-gradient(rgba(41, 85, 217, 0.85), rgba(41, 85, 217, 0.85)), url("../../images/mountain-road.jpg");
        background-size: cover;
        background-position: bottom;
    }

    .login-title {
        width: 70%;
        color: $dark;

        h1 {
            font-size: 35px;
        }

        p {
            text-align: left;
        }
    }

    .login-form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        form {
            display: flex;
            flex-direction: column;
            width: 100%;

            input {
                font-family: $heading-font;
                color: $text-light;
                font-size: 14px;
                padding: 13px 18px;
                margin-bottom: 22px;
                border-radius: 50px;
                border: none;
            }

            input:focus, button:focus {
                outline:none;
            }

            button {
                @extend %button;
                width: 70%;
            }

        }

    }
}

//ALERTIFY STYLES

.alertify-notifier {
    .ajs-message.ajs-error, .ajs-message.ajs-success {
        font-family: $heading-font;
        border: none;
        border-radius: 0;
        text-shadow: none;
    }
}