@import "../../../base";

.fade-div {
    background-color: rgba(0, 0, 0, 0.432);
    height: calc(100vh - 75px);
    width: 100%;
    display: flex;
    position: fixed;
    // top: -1px;
    z-index: 60;
    // transform: translate(0%, -50%);


    .start-trip-container {

        font-size: 100%;
        // text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000, 1px 1px 1px rgba(0,0,0,0);
        text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 70%;
        width: 60%;
        position: absolute;
        background-image: url('https://images.pexels.com/photos/97065/pexels-photo-97065.jpeg');
        background-size: cover;
        background-position: center;
        z-index: 50;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 15px;
        box-shadow: 0px 5px 10px rgba(0,0,0,0.3);

        .start-input {
            display: flex;
            justify-content: center;
            width: 100%;
            // max-width: 100%;
            height: 100%;
            background-blend-mode: lighten;

            div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                align-items: center;
                width: 50%;
                height: 100%;
                background-size: cover;
                border-radius:  0 15px 15px 0;

                .trans-box {
                    font-family: $heading-font;
                    font-size: 14px;
                    // font-weight: 700;
                    background-color: rgba(0, 0, 0, 0.23);
                    border: 0;
                    height: 100%;
                    width: 100%;
                    color: white;

                    input  {
                        width: 65%;
                        padding: 16px;
                        margin-left: 8px;
                        border-radius: 40px;
                        border: none;
                        font-family: $heading-font;
                        color: #6e6e6e;
                        resize: none;
                        font-size: 12px;
                    }
    
                    input:focus {
                        outline: none;
                    }
                }

                div {
                    width: 100%;
                    margin: 0;
                    height: 25px;
                }

            }

            .origin-select {
                // background-size: cover;
                border-radius: 15px 0 0 15px;
                .trans-box {
                    border-radius: 15px 0 0 15px;
                }
            }

            .destination-select {
                border-radius: 0 15px 15px 0;
                .trans-box {
                    border-radius: 0 15px 15px 0;
                }

            }
        
        .submitButton {
            display: flex;
            height: 50px;
            position: absolute;
            font-size: 24px;
            top: 80%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: white;

            button {
                @extend %button;
                margin: 0;
                padding: 13px 22px;
                border-radius: 50px;
                opacity: 0.9;
                font-size: 14px;
                letter-spacing: 0.03em;
            }

            button:focus {
                outline: none;
            }
        }
        
        }
    }
}