@import "../../../base";

.add-stop-container {
    // border-radius: 12px 12px 0 0;
    position: relative;
    width: 100%;
    height: 200px;
    max-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-bottom: 35px;
    color: white;
    background-size: cover;
    background-position: center;
    // text-shadow: 1px 1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, -1px -1px 0 #000000, 1px 0px 0 #000000, 0px 1px 0 #000000, -1px 0px 0 #000000, 0px -1px 0 #000000, 1px 1px 1px rgba(0,0,0,0);
    text-shadow: 0px 2px 5px rgba(0,0,0,0.5);
    font-family: $heading-font;

    h1 {
        font-size: 30px;
        margin: 15px;
    }

    i {
        position: absolute;
        right: 18px;
        top: 15px;
        cursor: pointer;
    }

    .search-component {
        transform: translate(0, 50%);
        width: 90%;
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 0px;

        input {
            padding: 12px;
            width: 80%;
            margin-right: 8px;
            border-radius: 20px;
            border: 1px solid rgb(212, 212, 212);
            font-family: $heading-font;
            color: #6e6e6e;
            resize: none;
            font-size: 12px;
        }

        input:focus {
            outline: none;
        }

        button {
            @extend %button;
            padding: 7px;
            border-radius: 5px;
            
        }
    }
}