@import "./base";

.App {
  text-align: center;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.react-confirm-alert-overlay {
  background: rgba(0, 0, 0, 0.6);
  z-index: 1500;
}

.react-confirm-alert-body {
  width: 250px;
  font-family: $heading-font;
  color: $dark;
  font-size: 15px;
}

.react-confirm-alert-button-group > button {
  font-family: $heading-font;
}

.react-confirm-alert-button-group > button:first-child {
  background-color: #de493fe0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
